@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

header {
    width: 1366px;
    margin: 0 auto;
    height: 589px;
    background: url(./images/BG1.jpg);
    background-repeat: no-repeat;
}

.container {
    width: 940px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* navigation code */

.topNavigation {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    /* 22px space between navigation links */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

nav ul li:first-child a {
    color: #FFD600;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    /* Remove default underline */
    position: relative;
    /* Create a positioning context */
}

nav ul li:first-child a::after {
    content: '';
    /* Empty content */
    display: block;
    position: absolute;
    left: -10px;
    bottom: -5px;
    /* Position 5px below the text */
    width: 140%;
    height: 2px;
    /* Adjust thickness */
    background-color: #FFD600;
    /* Match the text color */
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    margin-left: 22px;
    /* Space between navigation and dropdown */
}

.dropdown-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-menu {
    width: 250px;
    display: none;
    position: absolute;
    top: 50px;
    right: -125px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
}

.dropdown-menu input[type="text"] {
    display: block;
    width: 100%;
    /* Adjust to fit within padding */
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.dropdown-menu button {
    width: 48%;
    flex: 1;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    /* Space between buttons */
    display: inline-block;
    /* Ensure buttons are inline */
}

.dropdown-menu button:last-child {
    margin-right: 0;
    /* Remove margin from the last button */
}

#dropdown-toggle {
    display: none;
}

#dropdown-toggle:checked+label+.dropdown-menu {
    display: block;
}

/* banner content code */

#bannercontent {
    height: 490px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.banner-slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 1s ease-in-out;
}

.bannertextcontent {
    width: 550px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFF;
    font-size: 2em;
}

.bannertextcontent h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
}

.bannertextcontent p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.bannerbuttongroup {
    width: 330px;

    height: 30px;
    display: flex;
    justify-content: space-between;
}

.bannertextcontent button {
    width: 150px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    border-radius: 6px;
    border: none;
}


.bannerimage {
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenbulb {
    margin-top: 20px;
}

.orangebulb {
    margin-bottom: 60px;
}

/* product section */

#product {
    width: 1366px;
    margin: 0 auto;
    height: 606px;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
}

#product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00173D;
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 70%);
}

#product h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin: 50px 0 35px;
    color: #FFF;
    z-index: 2;
}

#product p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFF;
    z-index: 2;
}

#productContainer {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 50px;
    z-index: 2;
}

.productFrame {
    width: 300px;
    height: 260px;
    background-color: #FFF;
    border-radius: 12px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.productFrame figure {
    width: 100%;
    height: 27px;
    display: flex;
    gap: 15px;
}

.productFrame figcaption {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #003B73;
}

#product .productFrame p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #434343;
}

.productFrame button {
    width: 132px;
    height: 40px;
    background: linear-gradient(to right, #0C2144, #1C468B);
    border: none;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

/* Offer */

#offer {
    background-color: #00173D;
    height: 150px;
    width: 1366px;
    margin: 0 auto;
}

#offer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
}

#offer .container button {
    width: 274px;
    height: 64px;
    border-radius: 36px;
    background: none;
    border: 1px solid #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}


#offer .container button .arrow {
    font-size: 27px;
}

/* about */

#about {
    height: 633px;
    width: 1366px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

#about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutContent {
    width: 480px;
    height: 485px;
    margin-top: 44px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#about .container figure {
    width: 360px;
    height: 589px;
    margin-top: 44px;
}

.aboutContent h2 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.aboutContent p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 200%;
}

#bulletedPoints {
    display: grid;
    grid-template-columns: repeat(2, 235px);
    grid-column-gap: 20px;
    grid-row-gap: 22px;
}

#about #bulletedPoints figure {
    height: 32px;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 15px;
}

#bulletedPoints figure img {
    width: 26px;
    height: 26px;
}

#about .aboutContent button {
    width: 210px;
    height: 50px;
    background: linear-gradient(to right, #0C2144, #1C468B);
    color: #FFFFFF;
    border-radius: 11px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

/* Support */

#support {
    height: 121px;
    width: 1366px;
    margin: 0 auto;
    background-color: #041530;
    color: #FFFFFF;
}

#support .container {
    width: 940px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#support .container figure {
    display: flex;
    gap: 15px;
}

#support .container figure img{
    width: 56px;
    height: 56px;
}

#support .container figure figcaption {
    height: 56px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

#support .container figure figcaption p:first-child {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
}

#support .container figure figcaption p:last-child {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

/* footer */

footer {
    height: 516px;
    width: 1366px;
    margin: 0 auto;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
}

footer .container {
    height: 452px;
    width: 940px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#leftFooter {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#leftFooter .social-icons {
    display: flex;
    gap: 15px;
}

#leftFooter .social-icons a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #999;
}

#leftFooter .social-icons i {
    font-size: inherit;
}

#leftFooter p {
    color: #848ABB;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#rightFooter {
    display: flex;
    gap: 20px;
}

#rightFooter .footerColumns {
    width: 190px;
}

#rightFooter h3 {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #3A426D;
    margin-bottom: 20px;
}

#rightFooter ul li {
    list-style: none;
    margin-bottom: 15px;
}

#rightFooter ul li a {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #424242;
    text-decoration: none;
}

footer #footerline {
    width: 100%;
    height: 64px;
    background-color: #041530;
    color: #FFFFFF;
    padding-left: 60px;

    display: flex;
    align-items: center;
    gap: 40px;
}

footer #footerline p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}